.navbar-default {
  margin: 0px;
  border: 0px;
  border-bottom: 1px;
  border-radius: 0px;
  background-color: transparent;
  color: white; }
  .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
      color: #cccccc; }

.mid {
  margin: auto 0px;
  text-align: center; }

.jumbotron {
  background: transparent;
  color: white; }

.hero {
  background-image: radial-gradient(ellipse farthest-corner at left top, #4698bb 0, #9157be 100%);
  height: 300px;
  margin-bottom: 20px; }

  #curve_chart{
    margin-top: 50px;
  }