<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ngram viewer</title>
  <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="static/js/d3.v3.min.js"></script>
  <script type="text/javascript" src="static/js/mpld3.v0.3git.min.js"></script>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="hero">
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ngram Viewer</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About US</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    </nav>
<div class="jumbotron">
  <h1 class="mid">An Ngram Viewer for Indic Languages</h1>
  <p class="mid">Based on Google Books Ngram Viewer</p>
</div>
</div>
<div class="container">
<div class="row">
	<form class="mid" id="mainform">
  <div class="col-md-2">
    <select id = "langoption" class="form-control">
    <option value="bengali">Select language</option>
    <option value="bengali">Bengali</option>
    <option value="hindi">Hindi</option>
  </select>
  </div>
    <div class="col-md-5"><input id = "ngram" type="text" name="ngram" class="form-control" placeholder="enter search tearm" required ></div>
      <div class="col-md-2"><input id = "startyear" name = "startyear" class="form-control" type="text" placeholder="Start Year" required ></div>
      <div class="col-md-2"><input id = "endyear" name = "endyear" class="form-control" type="text" placeholder="End Year" required ></div>
      <div class="col-md-1"><button id="button" class="btn btn-primary" type="submit">send</button></div>
	</form>
</div>
<div class="row">
  <div id="link" class="mid">
  <div class="col-md-2"></div>
    <div class="col-md-5">
      <!--<a  href="#" onClick="showhide('inlinevkbb');"  id="linkid">Show virtual keyboard</a>-->
        <a  href="#" onClick="checkeyboard();"  id="linkid">Show virtual keyboard</a>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
  <div class="tooltip" id="inlinevkbb" style="display: none;">  
    <table class="inlinekbtable">
    <tbody>
    <tr>
      <td  onclick="insertAtCursor('ক');self.focus();" >ক</td>
      <td  onclick="insertAtCursor('খ');self.focus();" >খ</td>
      <td  onclick="insertAtCursor('গ');self.focus();" >গ</td>
      <td onClick="insertAtCursor('ঘ');self.focus();" >ঘ</td>
      <td onClick="insertAtCursor('ঙ');self.focus();" >ঙ</td>   
      <td  onclick="insertAtCursor('চ');self.focus();" >চ</td>
      <td  onclick="insertAtCursor('ছ');self.focus();" >ছ</td>
      <td  onclick="insertAtCursor('জ');self.focus();" >জ</td>
      <td  onclick="insertAtCursor('ঝ');self.focus();" >ঝ</td>
      <td  onclick="insertAtCursor('ঞ');self.focus();" >ঞ</td>
      <td  onclick="insertAtCursor('ট');self.focus();" >ট</td>
      <td  onclick="insertAtCursor('ঠ');self.focus();" >ঠ</td>
      <td  onclick="insertAtCursor('ড');self.focus();" >ড</td>
      <td  onclick="insertAtCursor('ঢ়');self.focus();" >ঢ়</td>
      <td  onclick="insertAtCursor('ণ');self.focus();" >ণ</td>
    </tr>
    <tr>
      <td  onclick="insertAtCursor('ত');self.focus();" >ত</td>      
      <td  onclick="insertAtCursor('থ');self.focus();" >থ</td>
      <td  onclick="insertAtCursor('দ');self.focus();" >দ</td>    
      <td  onclick="insertAtCursor('ধ');self.focus();" >ধ</td>
      <td  onclick="insertAtCursor('ন');self.focus();" >ন</td>
      <td  onclick="insertAtCursor('প');self.focus();" >প</td>
      <td  onclick="insertAtCursor('ফ');self.focus();" >ফ</td>
      <td  onclick="insertAtCursor('ব');self.focus();" >ব</td>
      <td  onclick="insertAtCursor('ভ');self.focus();" >ভ</td>
      <td  onclick="insertAtCursor('ম');self.focus();" >ম</td>
      <td  onclick="insertAtCursor('য');self.focus();" >য</td>
      <td  onclick="insertAtCursor('র');self.focus();" >র</td>
      <td  onclick="insertAtCursor('ল');self.focus();" >ল</td>
      <td  onclick="insertAtCursor('শ');self.focus();" >শ</td>
      <td  onclick="insertAtCursor('ষ');self.focus();" >ষ</td>
    </tr>
   <tr>
      <td onClick="insertAtCursor('স');self.focus();" >স</td>
      <td  onclick="insertAtCursor('হ');self.focus();" >হ</td>      
      <td onClick="insertAtCursor('ক্ষ');self.focus();" >ক্ষ</td> 
      <td  onclick="insertAtCursor('ড়');self.focus();" >ড়</td>
      <td  onclick="insertAtCursor('ঢ়');self.focus();" >ঢ়</td>
      <td onClick="insertAtCursor('য়');self.focus();" >য়</td>
      <td onClick="insertAtCursor('ৎ');self.focus();" >ৎ</td>
      <td onClick="insertAtCursor('ং');self.focus();" >ং</td>
      <td onClick="insertAtCursor('ঃ');self.focus();" >ঃ</td>
      <td onClick="insertAtCursor('ঁ');self.focus();" >ঁ</td>
      <td onClick="insertAtCursor('\u0964');self.focus();" >।</td>
      <td onClick="insertAtCursor('\u0965');self.focus();" >॥</td>
      <td onClick="insertAtCursor('\u09f3');self.focus();" >৳</td>  
      <td align="center" colspan="2"  onclick="insertAtCursor('\u09CD');insertAtCursor('র'); self.focus();" >র-ফলা‌‌‌</td>
    </tr>     
    <tr>
      <td onClick="insertAtCursor('অ');self.focus();" >অ</td>
      <td  onclick="insertAtCursor('আ');self.focus();" >আ</td>      
      <td onClick="insertAtCursor('ই');self.focus();" >ই</td>
      <td  onclick="insertAtCursor('ঈ');self.focus();" >ঈ</td>
      <td  onclick="insertAtCursor('উ');self.focus();" >উ</td>
      <td onClick="insertAtCursor('ঊ');self.focus();" >ঊ</td>
      <td onClick="insertAtCursor('ঋ');self.focus();" >ঋ</td>
      <td onClick="insertAtCursor('এ');self.focus();" >এ</td>
      <td onClick="insertAtCursor('ঐ');self.focus();" >ঐ</td>
      <td onClick="insertAtCursor('ও');self.focus();" >ও</td>
      <td onClick="insertAtCursor('ঔ');self.focus();" >ঔ</td>
      <td  >&nbsp;</td>
      <td  >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('\u09CD');insertAtCursor('\u09AF');self.focus();" >য-ফলা</td>  
    <tr>
      <td  >&nbsp;</td>
      <td onClick="insertAtCursor('া');self.focus();" >া</td>
      <td onClick="insertAtCursor('ি');self.focus();" >ি</td>
      <td onClick="insertAtCursor('ী');self.focus();" >ী</td>
      <td onClick="insertAtCursor('ু');self.focus();" >ু</td>
      <td onClick="insertAtCursor('ূ');self.focus();" >ূ</td>
      <td onClick="insertAtCursor('ৃ');self.focus();" >ৃ</td>
      <td onClick="insertAtCursor('ে');self.focus();" >ে</td>
      <td onClick="insertAtCursor('ৈ');self.focus();" >ৈ</td>
      <td onClick="insertAtCursor('ো');self.focus();" >ো</td> 
      <td onClick="insertAtCursor('ৌ');self.focus();" >ৌ</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('র');insertAtCursor('\u09CD');self.focus();"  >রেফ</td>
    </tr>
    <tr>
      <td >&nbsp;</td>
      <td  onclick="insertAtCursor('০');self.focus();" >০</td>
      <td onClick="insertAtCursor('১');self.focus();" >১</td>   
      <td onClick="insertAtCursor('২');self.focus();" >২</td>
      <td onClick="insertAtCursor('৩');self.focus();" >৩</td>
      <td onClick="insertAtCursor('৪');self.focus();" >৪</td>
      <td onClick="insertAtCursor('৫');self.focus();" >৫</td>
      <td onClick="insertAtCursor('৬');self.focus();" >৬</td>   
      <td onClick="insertAtCursor('৭');self.focus();" >৭</td>
      <td onClick="insertAtCursor('৮');self.focus();" >৮</td>   
      <td onClick="insertAtCursor('৯');self.focus();" >৯</td>
      <td >&nbsp;</td>  
      <td >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('\u200C');self.focus();"  title="Zero With Non Join">ZWNJ</td></tr>  
    <tr>
      <td  colspan="4" onClick="insertAtCursor('&#32');self.focus();" >স্পেসবার</td>    
      <td  colspan="4" onClick="insertAtCursor('\n');self.focus();" >নতুন লাইন</td>
      <td  colspan="5" onClick="insertAtCursor('\u09CD');self.focus();" >যুক্ত করুন/হসন্ত</td>
      <td  colspan="2" onClick="insertAtCursor('\u200D');self.focus();" title="Zero With Join">ZWJ</td>
    </tr>      
    </tbody>
  </table>
</div>
<div class="tooltip" id="inlinevkbh" style="display: none;">  
    <table class="inlinekbtable">
    <tbody>
    <tr>
      <td  onclick="insertAtCursor('क');self.focus();" >क</td>
      <td  onclick="insertAtCursor('ख');self.focus();" >ख</td>
      <td  onclick="insertAtCursor('ग');self.focus();" >ग</td>
      <td onClick="insertAtCursor('घ');self.focus();" >घ</td>
      <td onClick="insertAtCursor('ङ');self.focus();" >ङ</td>   
      <td  onclick="insertAtCursor('च');self.focus();" >च</td>
      <td  onclick="insertAtCursor('छ');self.focus();" >छ</td>
      <td  onclick="insertAtCursor('ज');self.focus();" >ज</td>
      <td  onclick="insertAtCursor('झ');self.focus();" >झ</td>
      <td  onclick="insertAtCursor('ञ');self.focus();" >ञ</td>
      <td  onclick="insertAtCursor('ट');self.focus();" >ट</td>
      <td  onclick="insertAtCursor('ठ');self.focus();" >ठ</td>
      <td  onclick="insertAtCursor('ड');self.focus();" >ड</td>
      <td  onclick="insertAtCursor('ढ');self.focus();" >ढ</td>
      <td  onclick="insertAtCursor('ण');self.focus();" >ण</td>
    </tr>
    <tr>
      <td  onclick="insertAtCursor('त');self.focus();" >त</td>      
      <td  onclick="insertAtCursor('थ');self.focus();" >थ</td>
      <td  onclick="insertAtCursor('द');self.focus();" >द</td>    
      <td  onclick="insertAtCursor('ध');self.focus();" >ध</td>
      <td  onclick="insertAtCursor('न');self.focus();" >न</td>
      <td  onclick="insertAtCursor('प');self.focus();" >प</td>
      <td  onclick="insertAtCursor('फ');self.focus();" >फ</td>
      <td  onclick="insertAtCursor('ब');self.focus();" >ब</td>
      <td  onclick="insertAtCursor('भ');self.focus();" >भ</td>
      <td  onclick="insertAtCursor('म');self.focus();" >म</td>
      <td  onclick="insertAtCursor('य');self.focus();" >य</td>
      <td  onclick="insertAtCursor('र');self.focus();" >र</td>
      <td  onclick="insertAtCursor('ल');self.focus();" >ल</td>
      <td  onclick="insertAtCursor('व');self.focus();" >व</td>
      <td  onclick="insertAtCursor('श');self.focus();" >श</td>
    </tr>
   <tr>
      <td onClick="insertAtCursor('ष');self.focus();" >ष</td>
      <td  onclick="insertAtCursor('स');self.focus();" >स</td>      
      <td onClick="insertAtCursor('ह');self.focus();" >ह</td> 
      <td  onclick="insertAtCursor('ड़');self.focus();" >ड़</td>
      <td  onclick="insertAtCursor('ढ़');self.focus();" >ढ़</td>
      <td onClick="insertAtCursor('য়');self.focus();" >য়</td>
      <td onClick="insertAtCursor('ৎ');self.focus();" >ৎ</td>
      <td onClick="insertAtCursor('ं');self.focus();" >ं</td>
      <td onClick="insertAtCursor('ः');self.focus();" >ः</td>
      <td onClick="insertAtCursor('ँ');self.focus();" >ँ</td>
      <td onClick="insertAtCursor('\u0964');self.focus();" >।</td>
      <td onClick="insertAtCursor('\u0965');self.focus();" >॥</td>
      <td onClick="insertAtCursor('\u09f3');self.focus();" >৳</td>  
      <td align="center" colspan="2"  onclick="insertAtCursor('\u09CD');insertAtCursor('র'); self.focus();" >র-ফলা‌‌‌</td>
    </tr>     
    <tr>
      <td onClick="insertAtCursor('अ');self.focus();" >अ</td>
      <td  onclick="insertAtCursor('आ');self.focus();" >आ</td>      
      <td onClick="insertAtCursor('इ');self.focus();" >इ</td>
      <td  onclick="insertAtCursor('ई');self.focus();" >ई</td>
      <td  onclick="insertAtCursor('उ');self.focus();" >उ</td>
      <td onClick="insertAtCursor('ऊ');self.focus();" >ऊ</td>
      <td onClick="insertAtCursor('ऋ');self.focus();" >ऋ</td>
      <td onClick="insertAtCursor('ए');self.focus();" >ए</td>
      <td onClick="insertAtCursor('ऐ');self.focus();" >ऐ</td>
      <td onClick="insertAtCursor('ओ');self.focus();" >ओ</td>
      <td onClick="insertAtCursor('औ');self.focus();" >औ</td>
      <td  >&nbsp;</td>
      <td  >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('\u09CD');insertAtCursor('\u09AF');self.focus();" >য-ফলা</td>  
    <tr>
      <td  >&nbsp;</td>
      <td onClick="insertAtCursor('ा');self.focus();" >ा</td>
      <td onClick="insertAtCursor('ि');self.focus();" >ि</td>
      <td onClick="insertAtCursor('ी');self.focus();" >ी</td>
      <td onClick="insertAtCursor('ु');self.focus();" >ु</td>
      <td onClick="insertAtCursor('ू');self.focus();" >ू</td>
      <td onClick="insertAtCursor('ৃ');self.focus();" >ৃ</td>
      <td onClick="insertAtCursor('े');self.focus();" >े</td>
      <td onClick="insertAtCursor('ৈ');self.focus();" >ै</td>
      <td onClick="insertAtCursor('ो');self.focus();" >ो</td> 
      <td onClick="insertAtCursor('ौ');self.focus();" >ौ</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('র');insertAtCursor('\u09CD');self.focus();"  >রেফ</td>
    </tr>
    <tr>
      <td >&nbsp;</td>
      <td  onclick="insertAtCursor('० ');self.focus();" >०</td>
      <td onClick="insertAtCursor('१');self.focus();" >१</td>   
      <td onClick="insertAtCursor('२');self.focus();" >२</td>
      <td onClick="insertAtCursor('३');self.focus();" >३</td>
      <td onClick="insertAtCursor('४');self.focus();" >४</td>
      <td onClick="insertAtCursor('५');self.focus();" >५</td>
      <td onClick="insertAtCursor('६');self.focus();" >६</td>   
      <td onClick="insertAtCursor('७');self.focus();" >७</td>
      <td onClick="insertAtCursor('८');self.focus();" >८</td>   
      <td onClick="insertAtCursor('९');self.focus();" >९</td>
      <td >&nbsp;</td>  
      <td >&nbsp;</td>
      <td align="center" colspan="2" onClick="insertAtCursor('\u200C');self.focus();"  title="Zero With Non Join">ZWNJ</td></tr>  
    <tr>
      <td  colspan="4" onClick="insertAtCursor('&#32');self.focus();" >स्पेसबार</td>    
      <td  colspan="4" onClick="insertAtCursor('\n');self.focus();" >नई लाइन</td>
      <td  colspan="5" onClick="insertAtCursor('्');self.focus();" >युक्त करे/हलन्त</td>
      <td  colspan="2" onClick="insertAtCursor('\u200D');self.focus();" title="Zero With Join">ZWJ</td>
    </tr>      
    </tbody>
  </table>
</div>
<script type="text/javascript">
  function checkeyboard(){
      var langugeSelect  = $( "#langoption option:selected").val();
      console.log(langugeSelect);
        if (langugeSelect === 'bengali'){
            showhide('inlinevkbb');
        }
        else if (langugeSelect === 'hindi'){
          showhide('inlinevkbh');
        }
  }
</script>
<script type="text/javascript"> 
 
  var activeta; //active text area, input field
  function insertAtCursor(myValue) 
  {
    /**
     * this function inserts a character at the current cursor position in a text area
     * many thanks to alex king and phpMyAdmin for this cool function     
     * This function is originally found in phpMyAdmin package and modified by Hasin Hayder(http://hasin.wordpress.com) to meet the requirement  
     */
    var myField = document.getElementById(activeta);
    if (document.selection) {   
      myField.focus();
      sel = document.selection.createRange();
      sel.text = myValue;
      sel.collapse(true);
      sel.select();
    }
    //MOZILLA/NETSCAPE support
    else if (myField.selectionStart || myField.selectionStart == 0) {
      
      var startPos = myField.selectionStart;
      var endPos = myField.selectionEnd;
      var scrollTop = myField.scrollTop;
      startPos = (startPos == -1 ? myField.value.length : startPos );
      myField.value = myField.value.substring(0, startPos)
      + myValue
      + myField.value.substring(endPos, myField.value.length);
      myField.focus();
      myField.selectionStart = startPos + myValue.length;
      myField.selectionEnd = startPos + myValue.length;
      myField.scrollTop = scrollTop;
    } else {
      var scrollTop = myField.scrollTop;
      myField.value += myValue;
      myField.focus();
      myField.scrollTop = scrollTop;
    }
  }
  function makeVirtualEditor(textAreaId)
  {
    activeTextAreaInstance = document.getElementById(textAreaId);
    activeTextAreaInstance.onfocus = function(){activeta=textAreaId;};    
  }
</script>
<script type="text/javascript"> 
  //get all the input fields and register them ...
  var nodeList=document.getElementsByTagName('input');  
  for(var i=0;i<nodeList.length;i++) 
  {
    if(nodeList[i])
    {
      //filter only the text and password fields
      if(nodeList[i].type=="text" || nodeList[i].type=="password")
      {
        makeVirtualEditor(nodeList[i].id);        
      }
    }
  }
  //get all textareas and register them
  var nodeList=document.getElementsByTagName('textarea'); 
  for(var i=0;i<nodeList.length;i++)
  {
    if(nodeList[i])
    {
      makeVirtualEditor(nodeList[i].id);
    }
  }
  /*
  Or just simple/directl register any textarea or input with it's id 
  makeVirtualEditor(textarea id here);
  example:
  makeVirtualEditor('message1');
  */  
</script>
<script language="javascript">

  var state = 'none';
  var linktext='';
  var link = document.getElementById('linkid');

  function showhide(layer_ref) 
  {
    if (state == 'block') {state = 'none';linktext='Show virtual keyboard';}
    else {state = 'block';linktext='Hide virtual keyboard';}
    if (document.all) 
    { //IS IE 4 or 5 or later
      eval( "document.all." + layer_ref + ".style.display = state");
      link.innerText=linktext;
      //alert("IE 4 or 5 or 6 or 7 or  later"); check ur browser

    }
    //IS NETSCAPE 4 or below
    if (document.layers) 
    { 
      document.layers[layer_ref].display = state;
      link.innerText=linktetxt;
      //alert("NETSCAPE 4 or below");  check ur browser
    }
    //Mozilla/Netscape6+ and all the other Gecko-based browsers
    if (document.getElementById &&!document.all) 
    {
      temp = document.getElementById(layer_ref);
      temp.style.display = state;
      link.firstChild.nodeValue=linktext;
      //alert(" by id and not all"); check ur browser
    }
  }
</script> 
<div class="row">
  <div class="col-md-8">
      <div id="curve_chart">
      </div>
  </div>
  <div class="col-md-4">
  <div id="download">
    <a class="btn btn-primary" id="btnSave" href="static/img/data.png" download="graph.png">Save PNG<a/>
    <!--<input type="button" class="btn btn-primary" id="btnSave" value="Save PDF"/>-->
  </div>
  </div>
</div>
</div>
<script src="static/js/app.js"></script>
</body>
</html>